/*about*/
.about > .colabout {
  font-weight: 100;
}

.about {
  margin-top: 100px;
  padding: 50px;
}

/*clients*/
.clients {
  margin-top: 100px;
}

.clientinfo {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  width: 100%;
  margin: 20px 0px !important;
}

.light {
  font-weight: 100 !important;
  padding: 0;
}

.clientinfo > .col-md-4 {
  padding: 0px 10px 0px 0px;
}

.line {
  margin-bottom: 50px;
  border-bottom: 1px solid #d4d4d450;
}
