/*footer*/
.footer {
  margin-top: 100px;
}

.navlink {
  margin: 0;
}

.bottom {
  display: flex;
  align-items: center;
  margin-top: 50px;
  width: 100%;
}

.bottom > p {
  margin: 0 !important;
  padding-right: 20px;
}

.gray {
  color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 575px) {
  .col {
    margin-bottom: 30px;
  }

  .gray {
    margin: 0;
  }
}
